
<h2>{{subtitle}}</h2>

<form action='/users/signin' method='post'>
  <div>
    <label for="username">User name:</label>
    <input type="text" id="username" name='username' value="">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name='password' value="">
  </div>
  <button type='submit'> Sign in</button>
</form>
